{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
<div id="error">
    <h1>Page non trouvée</h1>
    <a href="{{path('admin_home')}}"><button class="btn btn-info mt-2 ms-2"> Retour à l'accueil </button></a>
    <div class="error-image"><img src="{{asset ('images/404.jpg')}}" alt="" class="error404"></div>
</div>
{% endblock %}